@use './_colors' as *;

@keyframes bolt-bounce {
	0%,
	100% {
		transform: translateY(-25%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

@keyframes pulse {
	0%,
	100% {
		opacity: 0.7;
	}
	50% {
		opacity: 1;
	}
}

@keyframes navLinkAnimation {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}
