$hero-section-gradient: linear-gradient(305deg, rgba(30, 58, 138, 0.2) 50.4%, rgba(88, 28, 135, 0.2) 91.75%);
$gray: #99a1af;
$yellow: #fcc800;
$purple: #c27aff;
$green: rgba(5, 223, 114, 1);
$light-gray: #d1d5db;
$blue: #51a2ff;
$rocketIcon-Hover: #51a2ffb2;
$main-company-name: linear-gradient(
	90deg,
	rgba(167, 139, 250, 0.3) 0%,
	rgba(96, 165, 250, 0.3) 10%,
	rgba(250, 204, 21, 0.8) 50.48%,
	rgba(74, 222, 128, 0.3) 100%
);

$main-company-name-navigation: linear-gradient(
	90deg,
	rgba(167, 139, 250, 0.7) 0%,
	rgba(96, 165, 250, 0.7) 10%,
	#facc15 50.48%,
	rgba(74, 222, 128, 0.7) 100%
);

$MainNavigationColor: rgba(0, 0, 0, 0.8);

$StrokeNav: rgba(139, 92, 246, 0.2);

$black: #0000;

$white: white;
