@use './_colors' as *;
@use './_mixins' as *;

@mixin large {
	@media (min-width: 992px) {
		.tech-section {
			&__cards {
				grid-template-rows: repeat(3, minmax(0, 1fr));
				grid-template-columns: repeat(3, minmax(0, 1fr));
			}
		}
	}
	@media (min-width: 931px) {
		.section-contact {
			&__info-card {
				height: 577px;
			}
		}
	}
}
