@mixin small {
	@media (min-width: 576px) {
	}
	@media (min-width: 645px) {
		.tech-section {
			&__cards {
				grid-template-rows: repeat(2, minmax(0, 1fr));
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
		}

		.desktop-header {
			display: block;
		}

		.mobile-header {
			display: none;
		}
	}
	@media (min-width: 520px) {
		.hero-section {
			&__icon {
				width: 80px;
				height: 80px;
			}
			&__subtitle {
				span {
					display: inline;
				}
			}
			&__buttons {
				flex-direction: row;
			}
			&__projects-btn {
				font-size: 1.8rem;
			}

			&__contact-btn {
				font-size: 1.8rem;
			}
		}
	}
}
