@use './_reset';
@use './_colors' as *;
@use './_animations';
@use './_small' as *;
@use './_medium' as *;
@use './_large' as *;
@use './_mixins' as *;
@use './_hamburger' as *;

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: Inter, sans-serif;
	background-color: #000;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.desktop-header {
	display: none;
}

// DESKTOP NAV
.nav-desktop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 64px;
	padding: 16px 24px;
	border-bottom: 1px solid $StrokeNav;
	background: $DesktopNavigationColor;
	backdrop-filter: blur(6px);
	z-index: 1000;

	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__company {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}

	&__logo {
		width: 32px;
		height: 32px;
	}
	&__name {
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		background: $main-company-name-navigation;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
		color: white;
		font-size: 1.4rem;
		font-style: normal;
		font-weight: 400;
	}
	&__link {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		transition: color 0.3s ease;

		&:visited,
		&:active {
			color: inherit;
			text-decoration: none;
		}
		&:hover {
			color: $purple;
		}
		&--blue:hover {
			color: $blue;
		}
		&--green:hover {
			color: $green;
		}
		&--yellow:hover {
			color: $yellow;
		}
	}
}

// MOBILE NAV
.header-nav-bg {
	z-index: 400;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 62px;
	background: $DesktopNavigationColor;
}
.company {
	z-index: 500;
	position: fixed;
	top: 0em;
	left: 0em;
	padding: 16px 24px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	&__logo {
		width: 32px;
		height: 32px;
	}
	&__name {
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		background: $main-company-name-navigation;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.nav-mobile {
	z-index: 300;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 16px 24px;
	border-bottom: 1px solid $StrokeNav;
	background: $MobileNavigationColor;
	backdrop-filter: blur(8px);
	transform: translateY(-88.5%);
	transition: all 0.3s;
	&--active {
		transform: translateY(0);
	}
	&__content {
		margin-top: 60px;
	}
	&__links {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 18px;
		color: $gray;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: normal;
	}
	.nav-link-animation {
		animation: navLinkAnimation 1s;
	}

	&__link {
		text-transform: uppercase;
		padding: 22px;
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		transition: all 0.3s ease;

		&:last-child {
			margin-bottom: 60px;
		}
		&:visited,
		&:active {
			color: inherit;
			text-decoration: none;
		}
		&:hover {
			transform: scale(1.2);
			font-weight: bold;
		}
	}
}

// SECTIONS
.section {
}

// HERO SECTION
.hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	background: $hero-section-gradient;
	width: 100%;
	height: 100vh;
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 36px;
	}
	&__icon {
		width: 60px;
		height: 60px;
		animation: bolt-bounce 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
	&__title {
		text-align: center;
		font-size: clamp(6.2rem, 14vw, 9.6rem);
		font-style: normal;
		font-weight: 700;
		background: $main-company-name;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: pulse 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
	&__subtitle {
		color: $gray;
		font-size: clamp(2rem, 3.5vw, 2.4rem);
		font-style: normal;
		font-weight: 400;
		span {
			color: $yellow;
			display: block;
		}
	}
	&__buttons {
		display: flex;
		flex-direction: column;
		padding: 10px 0px;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	&__projects-btn {
		display: flex;
		padding: 12px 32px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border-radius: 15px;
		background: linear-gradient(90deg, #9810fa 0%, #2563eb 100%);
		color: #fff;
		font-size: 1.4rem;
		font-style: normal;
		font-weight: 700;
		transition: background 0.3s, box-shadow 0.3s;

		&:hover {
			background: linear-gradient(90deg, #9b71e4 0%, #4e70ce 100%);
			box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.3) inset;
		}
	}

	&__contact-btn {
		display: flex;
		padding: 12px 32px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border-radius: 15px;
		background: $yellow;
		color: $black;
		font-size: 1.4rem;
		font-style: normal;
		font-weight: 700;
		transition: background 0.3s, box-shadow 0.3s;
		&:hover {
			background: #ffda47;
			box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.3) inset;
		}
	}
}

// ABOUT SECTION
.about-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: linear-gradient(90deg, rgba(89, 22, 139, 0.1) 0%, rgba(28, 57, 142, 0.1) 100%);
	&__content {
		display: flex;
		padding: 50px 30px;
		flex-direction: column;
		align-items: center;
		gap: 48px;
	}
	&__head {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;
	}
	&__title {
		color: #fff;
		font-size: clamp(4rem, 10vw, 4.8rem);
		font-style: normal;
		font-weight: 700;
		span {
			color: $yellow;
		}
	}
	&__card {
		display: flex;
		padding: 32px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border-radius: 15px;
		border: 1px solid rgba(168, 85, 247, 0.4);
		background: rgba(17, 24, 39, 0.5);
		backdrop-filter: blur(2px);
	}
	&__card-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 24px;
		color: $light-gray;
		p {
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
		}
	}
}

// TECH-SECTION
.tech-section {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: linear-gradient(90deg, rgba(20, 83, 45, 0.1) 0%, rgba(30, 58, 138, 0.1) 100%);
	&__content {
		display: flex;
		padding: 50px 15px;
		flex-direction: column;
		align-items: center;
		gap: 48px;
	}
	&__head {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;
	}
	&__title {
		color: #fff;
		font-size: clamp(4rem, 10vw, 4.8rem);
		font-style: normal;
		font-weight: 700;
		span {
			color: $yellow;
		}
	}

	&__cards {
		display: grid;
		row-gap: 20px;
		column-gap: 20px;
		grid-template-rows: repeat(1, minmax(0, 1fr));
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	&__card {
		cursor: pointer;
		display: flex;
		width: 300px;
		padding: 24px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		justify-self: center;
		border-radius: 15px;
		border: 1px solid $CardStroke;
		background: rgba(17, 24, 39, 0.5);
		transition: scale 0.3s, border-color 0.3s;
		&:hover {
			scale: 1.05;
			border-color: $CardStrokeHover;
		}
	}
	&__card-technology {
		color: #fff;
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
	}

	&__card-level {
		border-radius: 30px;
		display: flex;
		padding: 2px 10px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border: 1px solid;
		&--js {
			color: $JavaScriptColor;
		}

		&--html {
			color: $HtmlColor;
		}

		&--css {
			color: $CSScolor;
		}

		&--sass {
			color: $SassColor;
		}

		&--tailwind {
			color: $TailwindColor;
		}

		&--bootstrap {
			color: $BootstrapColor;
		}

		&--react {
			color: $reactColor;
		}

		&--wp {
			color: $WordPressColor;
		}

		&--git {
			color: $GitColor;
		}
	}
}

// PROJECTS SECTION
.projects-section {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: linear-gradient(90deg, rgba(13, 84, 43, 0.1) 0%, rgba(89, 22, 139, 0.1) 100%);
	&__content {
		padding: 50px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 48px;
	}

	&__head {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;
	}
	&__title {
		color: #fff;
		font-size: clamp(4rem, 10vw, 4.8rem);
		font-style: normal;
		font-weight: 700;
		span {
			color: $yellow;
		}
	}

	&__cards {
		display: flex;
		padding: 10px;
		justify-content: center;
		align-items: center;
		gap: 50px;
		flex-wrap: wrap;
	}

	&__card {
		max-width: 340px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 0px 0px 15px 15px;
		border: 1.05px solid rgba(54, 65, 83, 0.5);
		background: rgba(17, 24, 39, 0.5);
		overflow: hidden;
		&-img {
			width: 100%;
			height: auto;
			object-fit: cover;
			border-bottom: 1.05px solid rgba(54, 65, 83, 0.5);
		}

		&-content {
			padding: 24px;
			display: flex;
			flex-direction: column;
			gap: 18px;
		}
		&-title {
			color: #fff;
			font-size: 2rem;
			font-weight: 700;
		}

		&-description {
			color: $light-gray;
			font-size: 1.6rem;
			font-style: normal;
			font-weight: 400;
		}
		&-technologiesBox {
			display: flex;
			gap: 10px;
		}
		&-tech {
			border-radius: 30px;
			display: flex;
			padding: 2px 10px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			border: 1px solid;
			&--js {
				color: $JavaScriptColor;
			}

			&--sass {
				color: $SassColor;
			}

			&--html {
				color: $HtmlColor;
			}
		}
		&-btns {
			display: flex;
			gap: 20px;
		}
		&-btn {
			display: flex;
			padding: 8px 12px;
			justify-content: center;
			align-items: center;
			gap: 8px;
			color: #000;
			font-size: 1.4rem;
			font-style: normal;
			font-weight: 600;
			border-radius: 15px;
			&--github {
				background: $purple;
				transition: background-color 0.3s, box-shadow 0.3s;
				&:hover {
					background-color: #d29dff;
					box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.25) inset;
				}
			}

			&--livedemo {
				background: linear-gradient(90deg, #059669 0%, #2563eb 100%);
				transition: background-color 0.3s, box-shadow 0.3s;
				&:hover {
					background-color: linear-gradient(90deg, #75c5ac 0%, #00b2ff 100%);
					box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.25) inset;
				}
			}
		}
	}
}

@include small;
@include medium;
@include large;
